@import "tailwindcss";

:root {
  --primary-color: #00cd93;
  --color-gray-200: #e5e7eb;
  --color-gray-600: lab(35.6337% -1.58697 -10.8425);
  --color-gray-800: lab(16.1051% -1.18239 -11.7533);
  --color-white: #fff;
}

body {
  font-family: "Inter", sans-serif;
}